---
import { getLangFromUrl, useTranslations } from "@/components/i18n/utils";
import Layout from "@/layouts/Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="iShop - Tu nuevo iPhone al alcance de tu mano">
  <main>
    <h1 class="text-3xl font-bold mb-3">{t("error.notfound")}</h1>
    <a href="/" class="text-blue-600 text-xl font-semibold"
      >{t("error.back")}</a
    >
  </main>
</Layout>

<style>
  main {
    text-align: center;
    margin: auto;

    max-width: 64rem;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
  }
</style>
