---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Inicio from "../components/section/Inicio.astro";
import Reparaciones from "../components/section/Reparaciones.astro";
import { Tienda } from "../components/section/Tienda";
import Contacto from "../components/section/Contacto.astro";
---

<Layout title="iShop - Tu nuevo iPhone al alcance de tu mano">
  <main
    class="flex flex-col  items-center h-screen w-full overflow-auto snap-y snap-mandatory"
  >
    <Header />

    <div class="md:snap-center inicio">
      <Inicio />
    </div>
    <div class="md:snap-center">
      <Tienda client:visible />
    </div>
    <div class="md:snap-center w-full reparaciones">
      <Reparaciones />
    </div>
    <div class="md:snap-center w-full contacto">
      <Contacto />
    </div>
  </main>
</Layout>

<style>
  .inicio {
    margin: auto;
    max-width: 64rem;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
  }

  .contacto {
    background: linear-gradient(to top, #ffdbf8, #ffff);
  }
 .reparaciones {
    background: radial-gradient(circle, #d0daff, #ffff, #ffff, #ffff);
  }
  @media only screen and (max-width: 768px) {
  .reparaciones{
    background:#ffff ;
  }
}
 
</style>