---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Inicio from "../components/Inicio.astro";
import Reparaciones from "../components/Reparaciones.astro";
import { Tienda } from "../components/Tienda";
---

<Layout title="iShop - Tu nuevo iPhone al alcance de tu mano">
  <main
    class="flex flex-col gap-y-2 md:gap-y-0 items-center h-screen w-full overflow-auto snap-y snap-mandatory"
  >
    <Header />

    <div class="md:snap-center inicio">
      <Inicio />
    </div>
    <div class="md:snap-center">
      <Tienda client:visible />
    </div>
    <div class="md:snap-center">
      <Reparaciones />
    </div>
  </main>
</Layout>

<style>
  .inicio {
    margin: auto;
    max-width: 64rem;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
  }
</style>
