---
import ButtonPrimary from "../components/ButtonPrimary.astro";
import ColorPhonePro from "../components/ColorPhonePro.astro";
import InfoiPhonePro from "../components/InfoiPhonePro.astro";
import { SelectPhone } from "../components/SelectPhone";
---

<section
  class="flex flex-col w-full gap-10 py-20 md:pb-0 md:pt-10 md:flex-row items-center md:h-screen justify-center"
  id="tienda"
>
  <section
    class="flex flex-col gap-5 md:gap-0 items-center justify-center md:w-3/6"
  >
    <SelectPhone client:visible />
    <ColorPhonePro />
  </section>

  <section
    class="flex flex-col items-start gap-5 justify-end md:w-3/6 mx-auto px-5"
  >
    <InfoiPhonePro />

    <ButtonPrimary>Consultanos disponibilidad y precio</ButtonPrimary>
  </section>
</section>
