---
import ButtonPrimary from "../components/ButtonPrimary.astro";
import InfoiPhonePro from "../components/InfoiPhonePro.astro";
---

<section
  class="flex flex-col w-full md:flex-row items-center h-screen justify-between"
  id="tienda"
>
  <section></section>

  <section class="flex flex-col items-start gap-6 justify-between">
      <InfoiPhonePro />

       <ButtonPrimary>Consultanos disponibilidad y precio</ButtonPrimary> 
  </section>
</section>
