<a
  
  class="inline-flex items-center justify-center px-8 py-3 text-xl font-medium text-center text-white bg-blue-500 rounded-lg cursor-pointer  hover:shadow-lg  hover:bg-blue-600 focus:ring-4 focus:ring-blue-300"
>
  <slot />
</a>
