---
interface Props {
  data: string[];
}
const { data } = Astro.props;
---

<div class="flex md:flex-row gap-3 flex-col justify-start items-start">
  <div class="w-20 flex flex-row items-center justify-start">

    <slot />
  </div>
  <ul class="flex flex-col  justify-start items-start">
    {
      data.map((value: string) => {
        return <li class="text-base font-medium">{value}</li>;
      })
    }
  </ul>
</div>
