<div class="flex flex-col items-center justify-between gap-5">

<img
  src="/img/compare_iphone15_pro_max_black_titanium.jpg"
  alt=""
  class="w-80"
/>
<div class="[&>div]:rounded-full [&>div]:shadow-md [&>div]:size-10 flex flex-row gap-6 ">
  <div class="bg-[#837F7D]"></div>
  <div class="bg-[#2F4452]"></div>
  <div class="bg-[#DDDDDD]"></div>
  <div class="bg-[#1B1B1B]"></div>
</div>
</div>
