---
import ButtonPrimary from "./ButtonPrimary.astro";
import ButtonSecondary from "./ButtonSecondary.astro";
---

<section class="gap-y-6 flex flex-col items-center justify-center">
  <h1
    class="text-center text-5xl font-bold tracking-tight text-gray-900 md:text-6xl"
  >
    Tu nuevo iPhone al alcance
    <br class="md:block hidden" />
    de tu mano
  </h1>
  <p
    class="text-center text-lg font-medium text-gray-900 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
  >
    Sumérgete en la innovación tecnológica con nuestra selección de iPhones y
    soluciones de reparación personalizadas
  </p>
  <div class="flex flex-col md:flex-row gap-5 w-full md:w-auto">
    <ButtonPrimary href="#">Consigue el tuyo</ButtonPrimary>
    <ButtonSecondary href="#">Servicio técnico</ButtonSecondary>
  </div>
</section>
