---
import WorldIcon from "./icons/WorldIcon.astro";
---

<div class="w-[100px] flex flex-row justify-end items-center">

<button class="bg-none text-black border-0 font-medium " id="avatarButton" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" >
<WorldIcon/>
</button>
</div>

<div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
  
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Inglés</a>
    </li>
    <li>
      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Español</a>
    </li>
   
  </ul>

</div>