---
import MailIcon from "../icons/MailIcon.astro";
import PhoneIcon from "../icons/PhoneIcon.astro";
import WhatsappIcon from "../icons/WhatsappIcon.astro";
import { getLangFromUrl, useTranslations } from "@/components/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  class="flex flex-col gap-8 md:px-0 px-2 md:gap-5 h-screen text-center items-center justify-center"
  id="contacto"
>
  <div class="h-full flex flex-col justify-center items-center gap-7">
    <h2 class="text-4xl font-semibold tracking-tight text-gray-900 md:text-5xl">
      {t('contact.title')}
    </h2>
    <p class="text-xl font-medium">
      {t('contact.ask')}
    </p>
    <p class="text-xl font-medium">{t('contact.subtitle')}</p>
    <div
      class="flex flex-row justify-center items-center mt-5 gap-16 [&>*]:cursor-pointer"
    >
      <WhatsappIcon />
      <MailIcon />
      <PhoneIcon />
    </div>
  </div>
  <div>
    <img src="/img/all_colors.png" alt="6 iphones in different colors" class="h-36 md:h-56" />
  </div>
</section>
