---
import Hero from "../Hero.astro";
---

<section
  class="flex flex-col  gap-7 items-center h-screen justify-center md:justify-end relative"
  id="inicio"
>
  <Hero />
  <img src="/img/iphone_mano.png" alt="iphone in a hand" class="md:h-[40%] h-[30%] max-w-full sm:block bottom-0"  />
</section>

<style>
  section {
    background: radial-gradient(circle at center, #f8d3f2, #ffff, #ffff);
  }

  img {
    mask-image: linear-gradient(white 90%, transparent);
  }
</style>
