---
import "@fontsource-variable/onest";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="iShop tienda de venta y reparación de iPhones en Santa Fe Argentina.Tu nuevo iPhone al alcance
      de tu mano. Servicio rápido y confiable. Reparación de pantallas, baterías y más. Visítanos hoy mismo."
    />
    <meta name="keywords" content="iShop, iPhone, reparación de iPhone, tienda de iPhone, reparación de pantalla de iPhone, reparación de batería de iPhone,iphone 15, iphone 15 PRO,iphone 15 PRO MAX">
    <meta name="author" content="iShop">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta property="og:image" content="/public/img/ishop.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
></script>
<style is:global>
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    background-color: #ffff;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
